.background_buscar{
    width: 100%;
    height: 100vh;
    background-color: #EC1C25;
    display: flex;
    align-items: center;
}

.search__recipes{
    width: 100%;
}

.ingredientes_seleccionados{
    width: 20%;
    background-color: white;
    color:black;
    flex: auto;
    padding: 2%;
    border-radius: 5%;
}

.titulo_recetas{
    color: #EC1C25;
}

.seleccion{
    width: 90%;
    margin-left: 5%;
}

.buscar{
    width: 80%;
    margin-left: 10%;
    background-color: #DEDA2A;
    border-radius: 60px;
    display: flex;
    justify-content: space-around;
}

.result{
    background-color: white;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    height: auto;
    color: black;
    border-radius: 60px;
}