.bg_crear{
    width: 100%;
    height: 100vh;
    background-image: url('../imgs/bgcrear.png');
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
}

.info__crear{
    background-color: #DEDA2A;
    width: 55%;
    height: auto;
    padding-bottom: 5%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    border-radius: 5%;
}

.info__crear_text{
    width: 70%;
    height: 80%;
    margin-top: 10%;
    margin-left: 15%;
}

.textarea__name{
    display: flex;
}

.txfld_nombre{
    background-color: white;
    padding: 0;
}

.textarea__ingredients{
    display: flex;
}

.txfld_ingredientes1{
    background-color: white;
    padding: 0;
}

.textarea__steps{
    display: flex;

}

.txfld_pasos{
    background-color: white;
    padding: 0;
}

.buttons{
    align-items: flex-end
}