.square_profile{
    width: 66.66%;
    margin-left: 1%;
    margin-top: 1%;
    display: flex;
    justify-content: space-around;
}

.icon_users{
    width: 40%;
    background-color: #E4E4E4;
    border-radius: 10%;
    height: 50vh;
}

.botones{
    width: 50%;
    background-color: #E4E4E4;
    border-radius: 10%;
    display: inline-block;
    position: relative;
}

.button-buscar{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    height: max-content;
}

.button-crear{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square-recipes{
    width: 100%;
    height: 20px;
    border: 10%;
    justify-content: center;
    display: flex;  
    margin-top: 1%;
}

.square-text{
    width: 32.5%;
    height:fit-content;
    background-color: #E4E4E4;
    border-radius: 10%;
    justify-content: center;
}

.text_recipes{
    width: 90%;
    margin-left: 5%;
    justify-content: center;
}

.historial{
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-historial{
    width: 100%;
    background-color: white;
    border-radius: 60px;
    border: 1px solid black;
    margin-top: 2%;
    justify-content: center;
}