html{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
}

section{
    margin: 0;
    background-color: #EC1C25;
    height: 100vh;
    width: 100%;
    color: white;
    text-align: center;
    position: relative;
}

nav{
    color: black;
}

.home_info{
    font-family: 'DynaPuff', cursive;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    display: flex;
}

.home_text{
    flex: auto;
    text-align: center;
}

.home_img{
    flex: 1;
}

.home_text_2{
    flex: auto;
    text-align: center;
    align-self: flex-end;
}

.home_2{
    background-color: white;
    height: 100vh;
    width: 100%;
    text-align:center;
    text-align: center;
    position: relative;
}

.home_2_text{
    color: black;
    margin:0px auto;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text_aprende{
    display: flex;
}

.img_aprende{
    width: 100%;
}

.info_aprender{
    text-align: center;
    flex: 1 1 0;
}

.aprende{
    text-align: center;
}

.text_ense単a{
    display: flex;
    margin-top: 10%;
}

.img_ense単a{
    width: 40%;
}

.info_ense単ar{
    text-align: center;
    flex: 1 1 0;
}

.ense単a{
    text-align: center;
}